.criminalsContainer {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    background-color: goldenrod;  
    /* max-width: 75%;   */
}

.criminalInfo {
    margin: 1%;
    border: 1px solid grey;
    padding: 0% 1% 1% 1%;
    width: 20%;
}